div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
    background-color: yellow;
}
a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 3.125rem;
    background-color: seagreen;
    width: 12.5rem;
    text-align: center;
}